body {  
  background-color: #81beea;  
  font-family: 'Roboto', sans-serif;  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  height: 100vh;  
  margin: 0;  
}  

.container {  
  background-color: white;  
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  
  width: 320px;  
  padding: 20px;  
}  

.header {  
  display: flex;  
  justify-content: space-between;  
  margin-bottom: 20px;  
}  

.left-header, .right-header {
  font-size: 16px;
  color: gray;
}  

.calendar {  
  width: 100%;  
  border-collapse: collapse;  
  border-top: 1px solid #ccc;  
  border-bottom: 1px solid #ccc;
  font-weight: bold;  
}  

.calendar th, .calendar td {  
  width: 14.28%;  
  height: 40px;  
  text-align: center;  
  vertical-align: middle;  
}  

.calendar th {  
  color: #888;  
  font-weight: 500;  
}  

.calendar td {  
  color: #333;  
}  

.today {  
  background-color: rgb(216, 101, 13);  
  border-radius: 50%;  
  color: white !important;
  width: 30px !important;
  height: 30px !important;
}  

.highlight {  
  position: relative;  
}  

.outer-circle {  
  background-color: white;  
  border: 3px solid rgb(216, 101, 13);  
  border-radius: 50%;  
  width: 30px;  
  height: 30px;  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  margin: auto;  
}  

.purple-circle .outer-circle {  
border-color: #d27bc8; 
}

.inner-circle {  
  background-color: rgb(216, 101, 13);  
  color: black;  
  border-radius: 50%;  
  width: 20px;  
  height: 20px;  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  position: absolute;  
  top: -5px;  
  right: -5px;  
  font-size: 12px;  
  border: 1px solid rgb(216, 101, 13);
  color: white !important;

}  
.inner-circle-purple {  
  background-color: #d27bc8;  
  color: black;  
  border-radius: 50%;  
  width: 20px;  
  height: 20px;  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  position: absolute;  
  top: -5px;  
  right: -5px;  
  font-size: 12px;  
  border: 1px solid #d27bc8;
  color: white !important;
}  

.inactive {  
  color: #ccc !important;  
}  

.footer {  
  display: flex;  
  justify-content: space-between;  
  align-items: center;  
  margin-top: 20px;  
}  

.footer span {  
  flex: 1;  
  text-align: center;  
}  

.add-button {  
  color: white;  
  width: 30px;  
  height: 30px;  
  border-radius: 50%; 
  display: flex;  
  align-items: center;  
  justify-content: center;  
  font-size: 20px;  
  margin: 0 auto; 
}